<div class="container">
  <div class="col-sm-6 col-sm-offset-3 login-form">
  <br><div style="text-align: center"><img src="images/login.png" width="200px" height="auto"></div><br>
  <form method="post" ng-submit="login(data)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="user_email"  ng-model="data.user_email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="user_password" ng-model="data.user_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <button type="reset" class="btn btn-danger">Reset</button>
  </form>
  </div>
</div>