<div class="container">
    <div class="row">
        <div class="col-sm-4" ng-repeat="note in alltrashnotes | orderBy : '-id'">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>{{note.title}}</b></div>
                  <div class="panel-body note-body">{{note.body}}
                      <br><br><em class="note-time">- {{note.createon | date : 'dd/MM/y HH:mm:ss' : '+0530' }}</em>
                  </div>
                  <div class="panel-footer note-footer">
                      <span class="glyphicon glyphicon-repeat" title="Restore" id="restorenotebutton" data-note-id="{{note.id}}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-record" ng-if="alltrashnotes.length==0">
            <img src="images/no-result-found.png">
        </div>
  </div>
</div>